#wrap {
  position: relative;
}

#wrap > .bgshadow {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 20, 31, 0.6)), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(5, 20, 31, 0.6) 0%, rgba(255, 255, 255, 0) 50%);
}

#wrap > header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #999;
  z-index: 1000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap > header.down, #wrap > header:hover {
  background-color: #fff;
}

#wrap > header.down > .h_bottom > .logo > a, #wrap > header:hover > .h_bottom > .logo > a {
  background-image: url(./../images/logo.webp);
}

#wrap > header.down > .h_bottom > ul > li > a, #wrap > header:hover > .h_bottom > ul > li > a {
  color: #05141f;
}

#wrap > header::after {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 30px;
  content: '';
  display: block;
  background-color: #05141f;
}

#wrap > header .h_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1440px;
  height: 20px;
  margin: 0 auto;
  padding: 5px 0;
}

#wrap > header .h_top > .h_top_l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > header .h_top > .h_top_l > li {
  border-right: 1px solid #9ba1a5;
}

#wrap > header .h_top > .h_top_l > li:last-child {
  border: none;
}

#wrap > header .h_top > .h_top_l > li > a {
  display: block;
  padding: 0 10px;
  color: #9ba1a5;
  font-size: 13px;
  font-weight: 600;
}

#wrap > header .h_top > .h_top_l > li > a:hover {
  text-decoration: underline;
  color: #fff;
}

#wrap > header .h_top > .h_top_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > header .h_top > .h_top_r > li {
  border-left: 1px solid #9ba1a5;
}

#wrap > header .h_top > .h_top_r > li:first-child {
  border: none;
}

#wrap > header .h_top > .h_top_r > li > a {
  display: block;
  padding: 0 10px;
  color: #9ba1a5;
  font-size: 13px;
  font-weight: 600;
}

#wrap > header .h_top > .h_top_r > li > a:hover {
  text-decoration: underline;
  color: #fff;
}

#wrap > header > .h_bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
  padding: 30px 0;
}

#wrap > header > .h_bottom > .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -50px;
  width: 100px;
}

#wrap > header > .h_bottom > .logo > a {
  display: block;
  height: 24px;
  text-indent: -9999px;
  background-image: url(./../images/logo_w.webp);
  background-position: center center;
  background-repeat: no-repeat;
}

#wrap > header > .h_bottom > .h_bottom_l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > header > .h_bottom > .h_bottom_l > li > a {
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  padding: 0 10px;
}

#wrap > header > .h_bottom > .h_bottom_l > li > a:hover {
  text-decoration: underline;
}

#wrap > header > .h_bottom > .h_bottom_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > header > .h_bottom > .h_bottom_r > li > a {
  display: block;
  padding-right: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 0 10px;
}

#wrap > header > .h_bottom > .h_bottom_r > li > a:hover {
  text-decoration: underline;
}

#wrap > section {
  width: 100%;
}

#wrap > section > #main {
  position: relative;
  width: 100%;
  height: 1010px;
}

#wrap > section > #main > .slides > div {
  overflow: hidden;
  display: none;
  position: absolute;
  width: 100%;
  height: 1010px;
}

#wrap > section > #main > .slides > div.on {
  display: block;
}

#wrap > section > #main > .slides > div.slide-1 > .slide-con > .title {
  color: #fff;
}

#wrap > section > #main > .slides > div.slide-2 > .slide-con > .title {
  color: #fff;
}

#wrap > section > #main > .slides > div > .slide-con {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -600px;
  top: 150px;
  width: 1200px;
}

#wrap > section > #main > .slides > div > .slide-con > .title {
  font-size: 38px;
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
  color: #05141f;
}

#wrap > section > #main > .slides > div > .slide-con > .more {
  display: block;
  width: 220px;
  height: 30px;
  margin: 20px auto 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  background-color: #05141f;
}

#wrap > section > #main > .slides > div > .slide-con > .more:hover {
  -webkit-animation: title_light .5s;
          animation: title_light .5s;
}

@-webkit-keyframes title_light {
  0% {
    background-color: #05141f;
    color: #fff;
  }
  50% {
    background-color: #fff;
    color: #05141f;
  }
  100% {
    background-color: #05141f;
    color: #fff;
  }
}

@keyframes title_light {
  0% {
    background-color: #05141f;
    color: #fff;
  }
  50% {
    background-color: #fff;
    color: #05141f;
  }
  100% {
    background-color: #05141f;
    color: #fff;
  }
}

#wrap > section > #main > .slides > div > img {
  display: block;
}

#wrap > section > #main > .indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 250px;
  left: 50%;
  margin-left: -100px;
}

#wrap > section > #main > .indicator > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
}

#wrap > section > #main > .indicator > ul > li {
  width: 14px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#wrap > section > #main > .indicator > ul > li.on {
  width: 60px;
  background-color: #05141f;
  border-radius: 10px;
}

#wrap > section > #main > .indicator > ul > li > a {
  display: block;
  height: 14px;
  text-indent: -9999px;
}

#wrap > section > #main > .main-menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -500px;
  -webkit-box-shadow: #05141f 1px 1px 5px;
          box-shadow: #05141f 1px 1px 5px;
}

#wrap > section > #main > .main-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

#wrap > section > #main > .main-menu > ul > li {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

#wrap > section > #main > .main-menu > ul > li:hover {
  background-color: #05141f;
}

#wrap > section > #main > .main-menu > ul > li:nth-child(2) > a::before {
  background-position: -50px 0;
}

#wrap > section > #main > .main-menu > ul > li:nth-child(2) > a::before:hover {
  background-position: -50px 50px;
}

#wrap > section > #main > .main-menu > ul > li:nth-child(3) > a::before {
  background-position: -100px 0;
}

#wrap > section > #main > .main-menu > ul > li:nth-child(4) > a::before {
  background-position: -150px 0;
}

#wrap > section > #main > .main-menu > ul > li:nth-child(5) > a::before {
  background-position: -200px 0;
}

#wrap > section > #main > .main-menu > ul > li:nth-child(1) > a:hover::before {
  background-position: 0 -50px;
}

#wrap > section > #main > .main-menu > ul > li:nth-child(2) > a:hover::before {
  background-position: -50px -50px;
}

#wrap > section > #main > .main-menu > ul > li:nth-child(3) > a:hover::before {
  background-position: -100px -50px;
}

#wrap > section > #main > .main-menu > ul > li:nth-child(4) > a:hover::before {
  background-position: -150px -50px;
}

#wrap > section > #main > .main-menu > ul > li:nth-child(5) > a:hover::before {
  background-position: -200px -50px;
}

#wrap > section > #main > .main-menu > ul > li > a {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
}

#wrap > section > #main > .main-menu > ul > li > a:hover > span {
  color: #fff;
}

#wrap > section > #main > .main-menu > ul > li > a > span {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 3em;
  color: #000;
  font-size: 16px;
  text-align: center;
}

#wrap > section > #main > .main-menu > ul > li > a:before {
  position: absolute;
  top: 3em;
  left: 50%;
  margin-left: -25px;
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(./../images/sp_pur.webp);
}

#wrap > section > #main > a {
  position: absolute;
  font-size: 70px;
  color: #fff;
}

#wrap > section > #main > a.next {
  top: 50%;
  right: 10%;
  margin-top: -35px;
}

#wrap > section > #main > a.prev {
  top: 50%;
  left: 10%;
  margin-top: -35px;
}

#wrap > section > #bestkia {
  width: 100%;
}

#wrap > section > #bestkia > h2 {
  height: 100px;
  color: #05141f;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
}

#wrap > section > #bestkia > .slides {
  overflow: hidden;
  position: relative;
  height: 400px;
  width: 100%;
}

#wrap > section > #bestkia > .slides > .slides-container {
  position: absolute;
  left: -300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 3000px;
}

#wrap > section > #bestkia > .slides > .slides-container > .slide {
  width: calc(3000px / 6);
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a {
  display: block;
  color: #05141f;
  text-align: center;
  line-height: 1.4;
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a > .pic {
  display: block;
  width: 500px;
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a > .pic > img {
  display: block;
  width: 500px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a > .pic > img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a > .name {
  display: block;
  color: #05141f;
  font-size: 25px;
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a > .detail {
  font-size: 16px;
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a > .detail > strong {
  font-weight: 800;
  padding: 0 5px;
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a.mbship {
  height: 20px;
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a.mbship > span {
  font-size: 16px;
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a.mbship > span strong {
  position: relative;
  padding: 0 5px;
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a.mbship > span strong::before {
  position: relative;
  top: 3px;
  left: -5px;
  content: '';
  display: inline-block;
  width: 21px;
  height: 14px;
  background-image: url(./../images/ic_benefit.webp);
}

#wrap > section > #bestkia > .slides > .slides-container > .slide > a.mbship > span strong:after {
  position: relative;
  top: 2px;
  right: -5px;
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #999;
}

#wrap > section > #bestkia > .slides > a {
  position: absolute;
  top: 120px;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  border: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#wrap > section > #bestkia > .slides > a.best_next {
  right: 200px;
  border-color: #000 #000 transparent transparent;
}

#wrap > section > #bestkia > .slides > a.best_prev {
  left: 200px;
  border-color: transparent transparent #000 #000;
}

#wrap > section > #event {
  position: relative;
  width: 100%;
  height: 800px;
  border: 1px solid #000;
}

#wrap > section > #event > .event {
  position: absolute;
  left: 50px;
}

#wrap > section > #event > .event > h2 {
  font-size: 40px;
  color: #05141f;
  margin-bottom: 20px;
}

#wrap > section > #event > .event > .slides {
  position: relative;
}

#wrap > section > #event > .event > .slides > .slides-container > .slide {
  display: block;
  position: absolute;
  -webkit-box-shadow: 20px 20px 15px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 20px 20px 15px 0 rgba(0, 0, 0, 0.01);
}

#wrap > section > #event > .event > .slides > .slides-container > .slide > span {
  display: block;
  color: #05141f;
  line-height: 2;
}

#wrap > section > #event > .event > .slides > .slides-container > .slide > span.pic {
  width: 700px;
}

#wrap > section > #event > .event > .slides > .slides-container > .slide > span.pic:after {
  position: absolute;
  top: 5%;
  left: 11.4%;
  display: block;
  content: '';
  z-index: -1;
  width: 100%;
  height: 70%;
  background: rgba(5, 20, 31, 0.003);
}

#wrap > section > #event > .event > .slides > .slides-container > .slide > span.pic > img {
  display: block;
  height: 410px;
}

#wrap > section > #event > .event > .slides > .slides-container > .slide > span.title {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
}

#wrap > section > #event > .event > .slides > a {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

#wrap > section > #event > .event > .slides > a > i {
  font-size: 40px;
  color: #05141f;
}
/*# sourceMappingURL=style.css.map */