@charset "utf-8";

$word_color: #333;
$main_color: #c80a1e;
#wrap {
	position: relative;
	> header {
		position: fixed;
		top: 0;
		display: flex;
		justify-content: space-between;
		z-index: 1000;
		width: 100%;
		height: 50px;
		background-color: #fff;
		// border: 1px solid #000;
		> .logo {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-top: calc(-23px / 2);
			margin-left: calc(-85px / 2);
			width: 85px;

			> a {
				display: block;
				height: 23px;

				text-indent: -9999px;
				background-image: url(./../images/gnb_logo.png);
			}
		}
		> .nav_left {
			margin-left: 30px;

			> .gnb {
				display: flex;
				// line-height: 50px;
				> li {
					position: relative;

					line-height: 50px;
					&:hover > .lnb {
						display: block;
					}
					&.all_menu {
						width: 30px;
						height: 30px;
						padding-top: 10px;
						margin-right: 10px;
						> a {
							display: block;
							> img {
								display: block;
							}
						}
					}

					> a {
						&:hover {
							color: $main_color;
						}
						display: block;
						color: #000;
						padding-left: 15px;
						font-size: 14px;
						font-weight: 600;
					}
					> .lnb {
						display: none;
						position: absolute;
						top: 50px;
						left: -10px;
						width: 80px;
						padding: 30px 0;
						background-color: #fff;
						border: 1px solid #000;

						> li {
							line-height: 2;
							text-align: center;
							> a {
								&:hover {
									color: #c80a1e;
								}
								display: block;
							}
						}
					} //end of .lnb
				} //end of li
			} //end of .gnb
		} //end of .nav_left
		> .nav_right {
			margin-right: 30px;
			> ul {
				display: flex;

				> li {
					padding-right: 15px;
					line-height: 50px;
					> a {
						&:hover {
							color: #c80a1e;
						}
						display: block;
						color: $word_color;
						font-weight: 500;
						font-size: 14px;
						> img {
							margin-top: 10px;
							display: block;
						}
					}
				}
			}
		} //end of .nav_right
	} //end of header

	> section {
		width: 100%;
		> #main {
			position: relative;
			width: 100%;
			height: 850px;
			margin-top: 50px;
			> .slides {
				position: relative;
				> .frame {
					display: none;
					position: absolute;
					width: 100%;
					&.on {
						display: block;
					}

					> img {
						width: 100%;
						height: 100%;
					}
				}
			} //end of .slides

			> a {
				position: absolute;
				top: 50%;
				margin-top: -27px;
				display: block;
				width: 54px;
				height: 54px;
				text-indent: -9999px;
				&.next {
					right: 100px;
					background-image: url(./../images/slide_r.png);
				}
				&.prev {
					left: 100px;
					background-image: url(./../images/slide_l.png);
				}
			}
		} //end of #main

		> #recommend {
			width: 100%;
			border-bottom: 1px solid #eee;
			padding-bottom: 100px;
			h2 {
				height: 100px;
				color: $word_color;
				line-height: 100px;
				text-align: center;
			}
			> .reco_ {
				display: flex;
				justify-content: space-between;
				width: 1440px;
				margin: 0 auto;
				line-height: 1.6;
				> a {
					width: 200px;

					> img {
						height: 200px;
					}
					> p {
						overflow: hidden;
						white-space: nowrap;
						height: 16px;
						line-height: 16px;
						// border: 1px solid #000;
						text-overflow: ellipsis;
					}
					> span {
						display: block;
						padding: 5px 0;
						color: #c80a1e;
					}
				}
			} //end of .reco_
		} //end of #recommend

		> #add {
			width: 100%;
			padding: 100px 0;
			> .addtop {
				// width: 1440px;
				// border: 1px solid #000;
				text-align: center;
				margin-bottom: 20px;
			}
			> .addbot {
				display: flex;
				justify-content: space-between;
				width: 1440px;
				margin: 0 auto;
				> a {
					display: block;
					height: 570px;
					overflow: hidden;
					> img {
						transition: all .5s;
						&:hover {
							transform: scale(1.02);
						}
					}
				}
			}
		} //end of #add

		> #life {
			width: 100%;

			> .life_banner {
				display: flex;
				position: relative;
				width: 100%;
				justify-content: center;
				padding: 20px 0;
				background-color: #f5f5f5;
				h2 {
					width: 110px;
					height: 20px;
					padding-right: 20px;
					text-indent: -9999px;
					background-image: url(./../images/logo_myiloomlf.png);
					background-repeat: no-repeat;
				}
				p {
					font-size: 16px;
					font-weight: 600;
					color: $word_color;
					line-height: 20px;
				}
				a {
					position: absolute;
					right: 300px;
					top: 50%;
					margin-top: -7px;
					display: block;
					color: $word_color;
					font-size: 14px;
					&:after {
						display: inline-block;
						content: '';
						width: 8px;
						height: 10px;
						background-image: url(./../images/arrow_r_black.png);
					}
				}
			} //end of .life_banner
			> .life_con {
				// border-bottom: 1px solid #000;
				display: flex;
				justify-content: space-between;

				width: 1200px;
				margin: 0 auto;
				padding: 80px 0;
				color: $word_color;
				> .life {
					// border-bottom: 1px solid #000;
					display: flex;
					flex-flow: column nowrap;
					width: 260px;
					> a {
						display: block;
						width: 100%;
						height: 260px;
						> img {
							border: 1px solid transparent;
							border-radius: 5px;
							display: block;
							height: 260px;
							width: 260px;
						}
					}
					> .star {
						padding: 20px 0;
						display: flex;
						> li {
							width: 22px;
							height: 22px;
							text-indent: -9999px;
							background-image: url(./../images/icn_star_on.png);
						}
					} //end of .star
					> .title {
						font-size: 16px;
						font-weight: 600;
						margin-bottom: 20px;
					}
					> .detail {
						display: block;
						font-size: 12px;
						margin-bottom: 30px;
						// border: 1px solid #000;

						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						color: #333;
					}
					> .life_id {
						display: flex;
						justify-content: space-between;
						padding-top: 30px;
						border-top: 1px solid #999;
						> a {
							display: block;
							> img {
								border: 1px solid transparent;
								border-radius: 50%;
								display: block;
								width: 70px;
								height: 70px;
							}
						}
						> div {
							line-height: 1.9;
							> p {
								width: 100px;
								font-weight: 800;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}

							> span {
								display: block;
								font-size: 12px;
							}
						}
						> .like {
							font-weight: 600;
							&:after {
								display: inline-block;
								content: '';
								width: 16px;
								height: 16px;

								background-image: url(./../images/icn_likeHrt.png);
							}
						}
					} //end of .life_id
				} //end of .life
			} //end of .life_con
		} //end of #life

		> #insta {
			width: 100%;
			padding: 50px 0;
			background-color: #f0f0f0;

			> .instargram {
				width: 360px;
				height: 42px;
				margin: 0 auto;
				text-indent: -9999px;
				background-image: url(./../images/instagram_1.png);
			}
			> .insta_id {
				width: 375px;
				height: 43px;
				margin: 0 auto 20px;
				text-indent: -9999px;
				background-image: url(./../images/instagram_2.png);
			}

			> .pic {
				display: flex;
				justify-content: space-between;
				width: 1400px;
				margin: 0 auto;
				> li {
					width: 270px;

					&:nth-child(1) > a {
						background-image: url(./../images/insta_1.jpg);
					}
					&:nth-child(2) > a {
						background-image: url(./../images/insta_2.jpg);
					}
					&:nth-child(3) > a {
						background-image: url(./../images/insta_3.jpg);
					}
					&:nth-child(4) > a {
						background-image: url(./../images/insta_4.jpg);
					}
					&:nth-child(5) > a {
						background-image: url(./../images/insta_5.jpg);
					}
					> a {
						display: block;
						height: 270px;
						text-indent: -9999px;
						background-position: center center;
						background-size: cover;
					}
				}
			}
		} //end of #insta

		> #quick {
			width: 100%;
			padding: 80px 0;
			> h3 {
				width: 380px;
				height: 44px;
				margin: 0 auto;
				text-indent: -9999px;
				background-image: url(./../images/img_quickmenu.png);
			}
			> .mnu {
				display: flex;
				justify-content: space-between;
				width: 800px;
				margin: 0 auto;
				text-align: center;
				line-height: 2;
				> a {
					display: block;

					&:nth-child(2) > .img {
						background-image: url(./../images/quick_menu_store.png);
					}
					&:nth-child(3) > .img {
						background-image: url(./../images/quick_menu_refurb.png);
					}

					&:nth-child(1):hover > .img {
						background-image: url(./../images/quick_menu_consulting_hover.png);
					}
					&:nth-child(2):hover > .img {
						background-image: url(./../images/quick_menu_store_hover.png);
					}
					&:nth-child(3):hover > .img {
						background-image: url(./../images/quick_menu_refurb_hover.png);
					}
					&:hover {
						> span {
							color: #c80a1e;
						}
					}
					> span {
						display: block;
						color: $word_color;

						font-size: 16px;
						font-weight: 600;

						&.img {
							width: 200px;
							height: 200px;
							margin: 40px 0 20px;
							text-indent: -9999px;
							background-image: url(./../images/quick_menu_consulting.png);
						}
					}
				}
			} //end of .mnu
		} //end of #quick

		> #notice {
			padding: 50px 0 200px;
			> h3 {
				width: 380px;
				height: 44px;
				margin: 0 auto 50px;
				text-indent: -9999px;
				background-image: url(./../images/img_notice.png);
			}
			> .not_con {
				width: 800px;
				margin: 0 auto;

				> li {
					display: flex;
					justify-content: space-between;
					width: 100%;
					padding: 10px 0;
					line-height: 1.4;

					> a {
						display: block;
						color: $word_color;
						font-weight: 600;

						font-size: 18px;
					}
					> span {
						display: block;
						color: #999;
						font-weight: 600;
						font-size: 18px;
					}
				}
			} //end of .not_con
			> .more {
				display: block;
				width: 250px;
				height: 50px;
				margin: 50px auto 0;
				font-size: 18px;
				line-height: 50px;
				text-align: center;
				border: 1px solid #999;

				&:hover {
					background-color: #999;
					color: #eee;
				}
			} //end of .more
		} //end of #notice
	} //end of section
	> footer {
		width: 100%;
		background-color: #f0f0f0;
		color: $word_color;

		> .foot_top {
			display: flex;
			justify-content: space-between;
			width: 1200px;
			margin: 0 auto;
			padding: 70px 0;
			> h4 {
				width: 86px;
				> a {
					display: block;
					height: 24px;
					text-indent: -9999px;
					background-image: url(./../images/footer_logo.png);
				}
			}
			> ul {
				line-height: 1.6;
				color: $word_color;

				&.ask {
					> li {
						display: flex;
						margin-bottom: 5px;
						// border: 1px solid #000;
						&:nth-child(1) > a {
							width: 70px;
						}
						&:nth-child(1) > a:after {
							position: absolute;
							right: 7px;
							display: inline-block;
							content: '';
							width: 20px;
							height: 20px;

							background-image: url(./../images/icnKakaoBlck.png);
						}
						> p {
							width: 120px;
						}
						> a {
							position: relative;
							display: block;
							font-weight: 600;
							// text-align: center;
							padding: 5px 10px;
							background-color: #fff;
							border: 1px solid #000;
						}
						> div {
							> strong {
							}
							> span {
								display: block;
								&.time-2::before {
									content: '토요일';
								}
								&:before {
									display: inline-block;
									content: '평일';
									width: 40px;
								}
							}
						}
					}
				} //end of ul.ask
				> li {
					margin-bottom: 10px;
					&.title {
						font-weight: 600;
					}
					&.priva {
						font-weight: 600;
					}
					> a {
						display: block;
						color: $word_color;
					}
				}
			}
		} //end of .foot_top
		> .foot_bot {
			border-top: 1px solid #999;
			display: flex;
			justify-content: space-between;
			width: 1200px;
			margin: 0 auto;
			padding: 70px 0;
			> .sns {
				display: flex;
				> a {
					display: block;
					width: 20px;
					height: 20px;
					text-indent: -9999px;
					margin-right: 5px;
					&:nth-child(1) {
						background-image: url(./../images/footer_i.png);
					}
					&:nth-child(2) {
						background-image: url(./../images/footer_f.png);
					}
					&:nth-child(3) {
						background-image: url(./../images/footer_b.png);
					}
				}
			} //end of.sns
			> .address {
				line-height: 2;
				> li {
				}
			}
			> .etc {
				display: flex;
				text-indent: -9999px;
				> p {
					margin-right: 5px;
				}
				> .mark_1 {
					width: 102px;
					height: 39px;
					background-image: url(./../images/mark_1.png);
				}
				> .mark_2 {
					width: 40px;
					height: 33px;
					background-image: url(./../images/mark_2.png);
				}
				> .mark_3 {
					width: 40px;
					height: 33px;
					background-image: url(./../images/spc_iloom.png);
					background-size: cover;
				}
				> a {
					display: inline-block;
					width: 45px;
					height: 39px;
					background-image: url(./../images/isms_iloom_bw.png);
					background-position: center center;
					background-size: cover;
				}
			}
		} //end of .foot_bot
	} //end of footer
} //end of #wrap
