@charset "UTF-8";
* {
  letter-spacing: -1px;
  font-family: "Noto Sans KR", 'Malgun Gothic';
}

#wrap {
  position: relative;
}

#wrap > header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  width: 100%;
  height: 50px;
  background-color: #fff;
}

#wrap > header > .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: calc(-23px / 2);
  margin-left: calc(-85px / 2);
  width: 85px;
}

#wrap > header > .logo > a {
  display: block;
  height: 23px;
  text-indent: -9999px;
  background-image: url(./../images/gnb_logo.png);
}

#wrap > header > .nav_left {
  margin-left: 30px;
}

#wrap > header > .nav_left > .gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > header > .nav_left > .gnb > li {
  position: relative;
  line-height: 50px;
}

#wrap > header > .nav_left > .gnb > li:hover > .lnb {
  display: block;
}

#wrap > header > .nav_left > .gnb > li.all_menu {
  width: 30px;
  height: 30px;
  padding-top: 10px;
  margin-right: 10px;
}

#wrap > header > .nav_left > .gnb > li.all_menu > a {
  display: block;
}

#wrap > header > .nav_left > .gnb > li.all_menu > a > img {
  display: block;
}

#wrap > header > .nav_left > .gnb > li > a {
  display: block;
  color: #000;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600;
}

#wrap > header > .nav_left > .gnb > li > a:hover {
  color: #c80a1e;
}

#wrap > header > .nav_left > .gnb > li > .lnb {
  display: none;
  position: absolute;
  top: 50px;
  left: -10px;
  width: 80px;
  padding: 30px 0;
  background-color: #fff;
  border: 1px solid #000;
}

#wrap > header > .nav_left > .gnb > li > .lnb > li {
  line-height: 2;
  text-align: center;
}

#wrap > header > .nav_left > .gnb > li > .lnb > li > a {
  display: block;
}

#wrap > header > .nav_left > .gnb > li > .lnb > li > a:hover {
  color: #c80a1e;
}

#wrap > header > .nav_right {
  margin-right: 30px;
}

#wrap > header > .nav_right > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > header > .nav_right > ul > li {
  padding-right: 15px;
  line-height: 50px;
}

#wrap > header > .nav_right > ul > li > a {
  display: block;
  color: #333;
  font-weight: 500;
  font-size: 14px;
}

#wrap > header > .nav_right > ul > li > a:hover {
  color: #c80a1e;
}

#wrap > header > .nav_right > ul > li > a > img {
  margin-top: 10px;
  display: block;
}

#wrap > header > .mnu_shadow {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  text-indent: -9999px;
  background-color: rgba(153, 153, 153, 0.737);
}

#wrap > header > .mnu_shadow.on {
  display: block;
}

#wrap > header > .mnubox {
  position: fixed;
  left: 1em;
  top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border: 1px solid #999;
}

#wrap > header > .mnubox.off {
  display: none;
}

#wrap > header > .mnubox > .close {
  position: absolute;
  right: 1em;
  top: 1em;
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background-image: url(./../images/icon_closeBtn.png);
}

#wrap > header > .mnubox > .mnubox_l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 875px;
  padding: 20px 10px;
}

#wrap > header > .mnubox > .mnubox_l > .gnb {
  width: 125px;
}

#wrap > header > .mnubox > .mnubox_l > .gnb > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#wrap > header > .mnubox > .mnubox_l > .gnb > li > a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #333;
}

#wrap > header > .mnubox > .mnubox_l > .gnb > li > a:hover {
  color: #c80a1e;
}

#wrap > header > .mnubox > .mnubox_l > .gnb > li > .lnb {
  padding: 10px 0;
  text-align: center;
  line-height: 1.8;
}

#wrap > header > .mnubox > .mnubox_l > .gnb > li > .lnb:first-of-type {
  margin-top: 20px;
  border-top: 1px solid #999;
}

#wrap > header > .mnubox > .mnubox_l > .gnb > li > .lnb:after {
  display: block;
  width: 20px;
  height: 1px;
  margin: 15px auto 0;
  content: '';
  border-bottom: 1px solid #ddd;
}

#wrap > header > .mnubox > .mnubox_l > .gnb > li > .lnb > li.title {
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

#wrap > header > .mnubox > .mnubox_l > .gnb > li > .lnb > li > a {
  display: block;
  color: #333;
}

#wrap > header > .mnubox > .mnubox_l > .gnb > li > .lnb > li > a:hover {
  color: #c80a1e;
}

#wrap > header > .mnubox > .mnubox_r {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f0f0f0;
  padding: 20px 10px;
}

#wrap > header > .mnubox > .mnubox_r > .mnubox_r_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

#wrap > header > .mnubox > .mnubox_r > .mnubox_r_top > a {
  display: block;
  color: #333;
  font-size: 20px;
  font-weight: 800;
  line-height: 3;
}

#wrap > header > .mnubox > .mnubox_r > .mnubox_r_top > a:hover {
  color: #c80a1e;
}

#wrap > header > .mnubox > .mnubox_r > .mnubox_r_bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  line-height: 2.4;
}

#wrap > header > .mnubox > .mnubox_r > .mnubox_r_bot > a {
  display: block;
  font-size: 14px;
  color: #333;
}

#wrap > header > .mnubox > .mnubox_r > .mnubox_r_bot > a:hover {
  color: #c80a1e;
}

#wrap > section {
  width: 100%;
}

#wrap > section > #main {
  position: relative;
  width: 100%;
  height: 850px;
  margin-top: 50px;
}

#wrap > section > #main > .slides {
  position: relative;
}

#wrap > section > #main > .slides > .frame {
  display: none;
  position: absolute;
  width: 100%;
}

#wrap > section > #main > .slides > .frame.on {
  display: block;
}

#wrap > section > #main > .slides > .frame > img {
  width: 100%;
  height: 100%;
}

#wrap > section > #main > a {
  position: absolute;
  top: 50%;
  margin-top: -27px;
  display: block;
  width: 54px;
  height: 54px;
  text-indent: -9999px;
}

#wrap > section > #main > a.next {
  right: 100px;
  background-image: url(./../images/slide_r.png);
}

#wrap > section > #main > a.prev {
  left: 100px;
  background-image: url(./../images/slide_l.png);
}

#wrap > section > #recommend {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 100px;
}

#wrap > section > #recommend h2 {
  height: 100px;
  color: #333;
  line-height: 100px;
  text-align: center;
}

#wrap > section > #recommend > .reco_ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
  line-height: 1.6;
}

#wrap > section > #recommend > .reco_ > a {
  width: 200px;
}

#wrap > section > #recommend > .reco_ > a > img {
  height: 200px;
}

#wrap > section > #recommend > .reco_ > a > p {
  overflow: hidden;
  white-space: nowrap;
  height: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
}

#wrap > section > #recommend > .reco_ > a > span {
  display: block;
  padding: 5px 0;
  color: #c80a1e;
}

#wrap > section > #add {
  width: 100%;
  padding: 100px 0;
}

#wrap > section > #add > .addtop {
  text-align: center;
  margin-bottom: 20px;
}

#wrap > section > #add > .addbot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
}

#wrap > section > #add > .addbot > a {
  display: block;
  height: 570px;
  overflow: hidden;
}

#wrap > section > #add > .addbot > a > img {
  -webkit-transition: all .5s;
  transition: all .5s;
}

#wrap > section > #add > .addbot > a > img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#wrap > section > #life {
  width: 100%;
}

#wrap > section > #life > .life_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  background-color: #f5f5f5;
}

#wrap > section > #life > .life_banner h2 {
  width: 110px;
  height: 20px;
  padding-right: 20px;
  text-indent: -9999px;
  background-image: url(./../images/logo_myiloomlf.png);
  background-repeat: no-repeat;
}

#wrap > section > #life > .life_banner p {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  line-height: 20px;
}

#wrap > section > #life > .life_banner a {
  position: absolute;
  right: 300px;
  top: 50%;
  margin-top: -7px;
  display: block;
  color: #333;
  font-size: 14px;
}

#wrap > section > #life > .life_banner a:after {
  display: inline-block;
  content: '';
  width: 8px;
  height: 10px;
  background-image: url(./../images/arrow_r_black.png);
}

#wrap > section > #life > .life_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 80px 0;
  color: #333;
}

#wrap > section > #life > .life_con > .life {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 260px;
}

#wrap > section > #life > .life_con > .life:nth-child(2) > a:after,
#wrap > section > #life > .life_con > .life:nth-child(3) > a:after {
  top: 0;
  right: 0;
  position: absolute;
  display: block;
  content: '';
  width: 37px;
  height: 36px;
  background-image: url(./../images/icn_inimgs.png);
}

#wrap > section > #life > .life_con > .life > a {
  position: relative;
  display: block;
  width: 100%;
  height: 260px;
}

#wrap > section > #life > .life_con > .life > a > img {
  border: 1px solid transparent;
  border-radius: 5px;
  display: block;
  height: 260px;
  width: 260px;
}

#wrap > section > #life > .life_con > .life > .star {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > section > #life > .life_con > .life > .star > li {
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  background-image: url(./../images/icn_star_on.png);
}

#wrap > section > #life > .life_con > .life > .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

#wrap > section > #life > .life_con > .life > .detail {
  display: block;
  font-size: 12px;
  margin-bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

#wrap > section > #life > .life_con > .life > .life_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #999;
}

#wrap > section > #life > .life_con > .life > .life_id > a {
  display: block;
}

#wrap > section > #life > .life_con > .life > .life_id > a > img {
  border: 1px solid transparent;
  border-radius: 50%;
  display: block;
  width: 70px;
  height: 70px;
}

#wrap > section > #life > .life_con > .life > .life_id > div {
  line-height: 1.9;
}

#wrap > section > #life > .life_con > .life > .life_id > div > p {
  width: 100px;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#wrap > section > #life > .life_con > .life > .life_id > div > span {
  display: block;
  font-size: 12px;
}

#wrap > section > #life > .life_con > .life > .life_id > .like {
  font-weight: 600;
}

#wrap > section > #life > .life_con > .life > .life_id > .like:after {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  background-image: url(./../images/icn_likeHrt.png);
}

#wrap > section > #insta {
  width: 100%;
  padding: 50px 0;
  background-color: #f0f0f0;
}

#wrap > section > #insta > .instargram {
  width: 360px;
  height: 42px;
  margin: 0 auto;
  text-indent: -9999px;
  background-image: url(./../images/instagram_1.png);
}

#wrap > section > #insta > .insta_id {
  width: 375px;
  height: 43px;
  margin: 0 auto 20px;
  text-indent: -9999px;
  background-image: url(./../images/instagram_2.png);
}

#wrap > section > #insta > .pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
}

#wrap > section > #insta > .pic > li {
  width: 270px;
}

#wrap > section > #insta > .pic > li:nth-child(1) > a {
  background-image: url(./../images/insta_1.jpg);
}

#wrap > section > #insta > .pic > li:nth-child(2) > a {
  background-image: url(./../images/insta_2.jpg);
}

#wrap > section > #insta > .pic > li:nth-child(3) > a {
  background-image: url(./../images/insta_3.jpg);
}

#wrap > section > #insta > .pic > li:nth-child(4) > a {
  background-image: url(./../images/insta_4.jpg);
}

#wrap > section > #insta > .pic > li:nth-child(5) > a {
  background-image: url(./../images/insta_5.jpg);
}

#wrap > section > #insta > .pic > li > a {
  display: block;
  height: 270px;
  text-indent: -9999px;
  background-position: center center;
  background-size: cover;
}

#wrap > section > #quick {
  width: 100%;
  padding: 80px 0;
}

#wrap > section > #quick > h3 {
  width: 380px;
  height: 44px;
  margin: 0 auto;
  text-indent: -9999px;
  background-image: url(./../images/img_quickmenu.png);
}

#wrap > section > #quick > .mnu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
}

#wrap > section > #quick > .mnu > a {
  display: block;
}

#wrap > section > #quick > .mnu > a:nth-child(2) > .img {
  background-image: url(./../images/quick_menu_store.png);
}

#wrap > section > #quick > .mnu > a:nth-child(3) > .img {
  background-image: url(./../images/quick_menu_refurb.png);
}

#wrap > section > #quick > .mnu > a:nth-child(1):hover > .img {
  background-image: url(./../images/quick_menu_consulting_hover.png);
}

#wrap > section > #quick > .mnu > a:nth-child(2):hover > .img {
  background-image: url(./../images/quick_menu_store_hover.png);
}

#wrap > section > #quick > .mnu > a:nth-child(3):hover > .img {
  background-image: url(./../images/quick_menu_refurb_hover.png);
}

#wrap > section > #quick > .mnu > a:hover > span {
  color: #c80a1e;
}

#wrap > section > #quick > .mnu > a > span {
  display: block;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

#wrap > section > #quick > .mnu > a > span.img {
  width: 200px;
  height: 200px;
  margin: 40px 0 20px;
  text-indent: -9999px;
  background-image: url(./../images/quick_menu_consulting.png);
}

#wrap > section > #notice {
  padding: 50px 0 200px;
}

#wrap > section > #notice > h3 {
  width: 380px;
  height: 44px;
  margin: 0 auto 50px;
  text-indent: -9999px;
  background-image: url(./../images/img_notice.png);
}

#wrap > section > #notice > .not_con {
  width: 800px;
  margin: 0 auto;
}

#wrap > section > #notice > .not_con > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  line-height: 1.4;
}

#wrap > section > #notice > .not_con > li > a {
  display: block;
  color: #333;
  font-weight: 600;
  font-size: 18px;
}

#wrap > section > #notice > .not_con > li > span {
  display: block;
  color: #999;
  font-weight: 600;
  font-size: 18px;
}

#wrap > section > #notice > .more {
  display: block;
  width: 250px;
  height: 50px;
  margin: 50px auto 0;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  border: 1px solid #999;
}

#wrap > section > #notice > .more:hover {
  background-color: #999;
  color: #eee;
}

#wrap > footer {
  width: 100%;
  background-color: #f0f0f0;
  color: #333;
}

#wrap > footer > .foot_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}

#wrap > footer > .foot_top > h4 {
  width: 86px;
}

#wrap > footer > .foot_top > h4 > a {
  display: block;
  height: 24px;
  text-indent: -9999px;
  background-image: url(./../images/footer_logo.png);
}

#wrap > footer > .foot_top > ul {
  line-height: 1.6;
  color: #333;
}

#wrap > footer > .foot_top > ul.ask > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

#wrap > footer > .foot_top > ul.ask > li:nth-child(1) > a {
  width: 70px;
}

#wrap > footer > .foot_top > ul.ask > li:nth-child(1) > a:after {
  position: absolute;
  right: 7px;
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(./../images/icnKakaoBlck.png);
}

#wrap > footer > .foot_top > ul.ask > li > p {
  width: 120px;
}

#wrap > footer > .foot_top > ul.ask > li > a {
  position: relative;
  display: block;
  font-weight: 600;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #999;
}

#wrap > footer > .foot_top > ul.ask > li > div > span {
  display: block;
}

#wrap > footer > .foot_top > ul.ask > li > div > span.time-2::before {
  content: '토요일';
}

#wrap > footer > .foot_top > ul.ask > li > div > span:before {
  display: inline-block;
  content: '평일';
  width: 40px;
}

#wrap > footer > .foot_top > ul > li {
  margin-bottom: 10px;
}

#wrap > footer > .foot_top > ul > li.title {
  font-weight: 800;
}

#wrap > footer > .foot_top > ul > li.priva {
  font-weight: 600;
}

#wrap > footer > .foot_top > ul > li > a {
  display: block;
  color: #333;
}

#wrap > footer > .foot_bot {
  border-top: 1px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}

#wrap > footer > .foot_bot > .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap > footer > .foot_bot > .sns > a {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  margin-right: 5px;
}

#wrap > footer > .foot_bot > .sns > a:nth-child(1) {
  background-image: url(./../images/footer_i.png);
}

#wrap > footer > .foot_bot > .sns > a:nth-child(2) {
  background-image: url(./../images/footer_f.png);
}

#wrap > footer > .foot_bot > .sns > a:nth-child(3) {
  background-image: url(./../images/footer_b.png);
}

#wrap > footer > .foot_bot > .address {
  line-height: 2;
}

#wrap > footer > .foot_bot > .etc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-indent: -9999px;
}

#wrap > footer > .foot_bot > .etc > p {
  margin-right: 5px;
}

#wrap > footer > .foot_bot > .etc > .mark_1 {
  width: 102px;
  height: 39px;
  background-image: url(./../images/mark_1.png);
}

#wrap > footer > .foot_bot > .etc > .mark_2 {
  width: 40px;
  height: 33px;
  background-image: url(./../images/mark_2.png);
}

#wrap > footer > .foot_bot > .etc > .mark_3 {
  width: 40px;
  height: 33px;
  background-image: url(./../images/spc_iloom.png);
  background-size: cover;
}

#wrap > footer > .foot_bot > .etc > a {
  display: inline-block;
  width: 45px;
  height: 39px;
  background-image: url(./../images/isms_iloom_bw.png);
  background-position: center center;
  background-size: cover;
}

#wrap > aside {
  position: fixed;
  right: 2em;
  bottom: 2em;
}

#wrap > aside > a {
  display: block;
  width: 80px;
  height: 40px;
  margin: 0 auto 10px;
  color: #fff;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  background-color: #333;
  border: 1px solid transparent;
  border-radius: 25px;
}

#wrap > aside > a:hover {
  background-color: #999;
}

#wrap > aside > .recent {
  width: 120px;
  background-color: #fff;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

#wrap > aside > .recent > a {
  text-align: center;
  display: block;
  margin: 20px auto;
  color: #333;
}

#wrap > aside > .recent > a.arrow {
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  background-image: url(./../images/history_widget_up.jpg);
}

#wrap > aside > .recent > a.arrow.up {
  background-image: url(./../images/history_widget_down.jpg);
}
/*# sourceMappingURL=style.css.map */